:root{
  --color-1: #5E216E;
  --color-2: #7E77AA;
  --color-3: #3A506B;
  --color-4: #4B8DA7;
  --color-5: #4A1647;
}

.App {
  text-align: center;
  background-color: var(--color-2);
}


.App-header {
  background-color: var(--color-5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: var(--color-1);
  min-height: 90vh;
  color: white;
}